<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Medical Assistant</title>

    <link rel="icon" href="images/small_icon.png"/>

    <script type="text/javascript" src="scripts/jquery.min.js"></script>
    <script type="text/javascript" src="scripts/jquery-ui.min.js"></script>
    <script src="scripts/jquery.cookie.js"></script>
    <script src="scripts/angularModules/common/angular.min.js"></script>
    <script src="scripts/angularModules/common/angular-route-min.js"></script>

    <script src="scripts/angularModules/app.js"></script>
    <script src="scripts/api.js"></script>

    <!--Bootstrap Theme-->
    <link href="styles/bootstrap.min.css" rel="stylesheet"/>
    <script src="scripts/bootstrap.min.js"></script>

    <!-- Material Theme -->
    <link href="styles/material.min.css" rel="stylesheet"/>

    <link rel="stylesheet" href="./assets/css/form-elements.css">

    <script src="scripts/tinymce/tinymce-basic.js"></script>
    <script src="scripts/tinymce/tinymce.min.js"></script>
    <script src="scripts/tinymce/tinymce.js"></script>

    <!-- Cuidar references -->
    <link href="styles/remedyFeed.css" rel="stylesheet"/>
    <script src="scripts/layouts.js"></script>
    <script src="scripts/remedyFeed.js"></script>

</head>
<body ng-app="remedyShare">

<div class="modal fade" id="loginModal" role="dialog" style="z-index: 999999;" data-backdrop="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" id="modalHeader">
                Login required
            </div>
            <div class="modal-body" id="modalBody">
                You need to login before you can perform this operation.
                <br /><br />
                <a href="#" onclick="login()">Login Here</a>
            </div>
        </div>
    </div>
</div>

<div class="mdl-layout--fixed-header menu">s
    <header class="mdl-layout__header" id="header" style="z-index:19999; position: fixed; top:0; left:0;">
        <div class="mdl-layout__header-row">
            <!-- Title -->
            <span class="mdl-layout-title"><a href="/app">Medical Assistant v28.2.1634</a></span>
            <!-- Add spacer, to align navigation to the right -->
            <div class="mdl-layout-spacer"></div>

            <div class="mdl-layout__tab-bar-right-button">
                <style scoped>
                    .mdl-layout__tab-bar-right-button a {
                        color: white;
                        text-decoration: none;
                    }
                </style>
                <a href="/app/login" id="login">Login</a>
            </div>
        </div>
    </header>


</div>

<div class="container-fluid" id="mainContent">
    <div class="content">
        <div class="row">

            <div class="col-lg-3 col-md-3" ng-controller="userController">
                <div class="card" id="userDetailsCard" style="padding: 10px 5px;">
                    <a href="https://play.google.com/store/apps/details?id=architect.jazzy.medicinereminder&utm_source=global_co&utm_medium=prtnr&utm_content=Mar2515&utm_campaign=PartBadge&pcampaignid=MKT-AC-global-none-all-co-pr-py-PartBadges-Oct1515-1" target="_blank"><img alt="Get it on Google Play" src="https://play.google.com/intl/en_us/badges/images/apps/en-play-badge.png" height="45px" /></a>

                    <p style="text-align: justify">
                        <h4>About Us</h4>
                    We are young enthusiast helping share your <strong>Grandma's remedies</strong> (or '<i>Dadi ke nuske</i>').
                    We believe that natural cure for diseases are better than taking any pills. By this platform we are connecting thousands of Grandmas thus allowings today's youth to stay healthy.
                    <br /><br />
                    <center>Cheers to life...!</center>
                    </p>


                    <br /><br /><br />
                    <p>
                        <span style="font-size: 0.7em; color: #666; line-height: 10px; text-align: justify">Disclaimer: All the remedies are shared by individuals all over the globe. Medical Assistant does not take any responsibility for any injury or health problems which may arise. Consult your physician before trying the remedies.</span>
                    </p>
                </div>
            </div>
            <div class="col-lg-8" ng-controller="remedyController">
                <div class="card" id="feedCard"  ng-init="loadRemedies()">
                    <div ng-repeat="remedy in remedies">
                        <div class="remedyFeed"
                             ng-style="{'background-image': 'url(/images/remedy/{{remedy.image.filename || 'nil'}})'}">
                            <div class="row card remedyCard">
                                <!--<img ng-src="/images/remedy/{{remedy.image.filename || 'nil'}}"/>-->

                                <div class="col-lg-10" ng-click="openRemedy(remedy._id)" style="cursor: pointer;" title="{{remedy.title}}">
                                    <span style="font-size: 1.6em; font-weight: bold; ">{{remedy.title}}</span>
                                <span style="font-size: 0.9em; margin-left: 15px;"><i>By:
                                    {{remedy.author.name}}</i></span>
                                    <br/>

                                    <p style="margin:0; padding:3px; text-align: justify; background: #F8F8F8; font-size:0.9em;">
                                        {{remedy.description | htmlToPlaintext | limitTo: 225}}{{remedy.description.length > 250 ?
                                        '...':''}}
                                    </p>
                                    <i><span class="diseaseSpan">Diseases: {{remedy.diseases.toString()}}</span></i>
                                </div>
                                <div class="col-lg-2">
                                    <a href="#" class="commentCount stats" title="Comments">
                                        <i class="glyphicon glyphicon-comment"></i>
                                        {{remedy.stats.comments}}
                                    </a>
                                    <br/>
                                    <a href="#" ng-click="upvote(remedy._id)" class="upvoteCount stats" title="Upvote">
                                        <i class="glyphicon glyphicon-thumbs-up"></i> {{remedy.stats.upvote}}
                                    </a>
                                    <br/>
                                    <a href="#" ng-click="downvote(remedy._id)" class="downvoteCount stats" title="Downvote">
                                        <i class="glyphicon glyphicon-thumbs-down"></i>
                                        {{remedy.stats.downvote}}
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-1 col-md-1">
                <div class="card fab" id="refreshFab" ng-click="refresh()" title="Refresh List">
                    <img src="images/ic_action_reload.png" alt="Refresh List"/>
                </div>
                <div class="card fab" id="addFab" title="Add new remedy">
                    <img src="images/ic_action_add.png" alt="Add new remedy"/>
                </div>
                <div class="card fab" id="searchFab" title="Search Remedy">
                    <img src="images/ic_action_search.png" alt="Search Remedy"/>
                </div>
                <div class="card fab" id="settingsFab" title="Settings">
                    <img src="images/ic_action_settings.png" alt="Settings"/>
                </div>
            </div>

        </div>
    </div>
</div>

<style>


    input[type="text"] {
        padding: 0 5px;
        height: 35px;
        line-height: 35px;
        margin-top: 5px;
        background: #FFF;
        border: none;
    }

    .remedyFeed:hover{
        border: 1px #008dff solid;
    }

</style>

<script>
    $.removeCookie("id");
</script>

</body>
</html>