<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Medical Assistant</title>

    <link rel="icon" href="images/small_icon.png"/>

    <script type="text/javascript" src="scripts/jquery.min.js"></script>
    <script type="text/javascript" src="scripts/jquery-ui.min.js"></script>
    <script src="scripts/jquery.cookie.js"></script>
    <script src="scripts/angularModules/common/angular.min.js"></script>
    <script src="scripts/angularModules/common/angular-route-min.js"></script>

    <script src="scripts/angularModules/app.js"></script>
    <script src="scripts/api.js"></script>

    <!--Bootstrap Theme-->
    <link href="styles/bootstrap.min.css" rel="stylesheet"/>
    <script src="scripts/bootstrap.min.js"></script>

    <!-- Material Theme -->
    <link href="styles/material.min.css" rel="stylesheet"/>

    <link rel="stylesheet" href="./assets/css/form-elements.css">

    <!-- Cuidar references -->
    <link href="styles/remedyFeed.css" rel="stylesheet"/>
    <script src="scripts/layouts.js"></script>
    <script src="scripts/remedyFeed.js"></script>

</head>
<body ng-app="remedyShare" ng-controller="remedyController" ng-init="loadRemedies()">
<div class="mdl-layout--fixed-header menu">s
    <header class="mdl-layout__header" id="header" style="z-index:19999; position: fixed; top:0; left:0;">
        <div class="mdl-layout__header-row">
            <!-- Title -->
            <span class="mdl-layout-title"><a href="/app">Medical Assistant v19.1.16.2037</a></span>
            <!-- Add spacer, to align navigation to the right -->
            <div class="mdl-layout-spacer"></div>

            <div class="mdl-layout__tab-bar-right-button">
                <style scoped>
                    .mdl-layout__tab-bar-right-button a {
                        color: white;
                        text-decoration: none;
                    }
                </style>
                <a href="#" id="logout">Logout</a>
                <a href="https://play.google.com/store/apps/details?id=architect.jazzy.medicinereminder">
                    <img alt="Get it on Google Play"
                         src="https://developer.android.com/images/brand/en_generic_rgb_wo_45.png"/>
                </a>
            </div>
        </div>
    </header>


</div>

<div class="container-fluid" id="mainContent">
    <div class="content">
        <div class="row">
            <div class="col-lg-3 col-md-3">
                <div class="card" id="userDetailsCard">
                    <div class="card" id="dpframe" style="z-index: 999;">
                        <img src="images/userlogin.png" id="userDp">
                    </div>
                    <div class="userDetails" id="userDetails" ng-init="loadUserDetails()">
                        <input type="text" class="userDetailsFormElement" id="username" disabled value="{{user.name}}">
                        <input type="text" class="userDetailsFormElement" id="email" disabled value="{{user.email}}">
                        <input type="text" class="userDetailsFormElement" id="mobile" disabled
                               value="{{user.mobile}}"><br/>
                        <!--<input type="radio" class="userDetailsFormElement" name="sex" ng-model="user.sex"-->
                               <!--ng-value="user.sex" disabled value="M">Male-->
                        <!--<input type="radio" class="userDetailsFormElement" name="sex" ng-model="user.sex"-->
                               <!--ng-value="user.sex" disabled value="F">Female<br/>-->
                        <input type="text" class="userDetailsFormElement" id="dob" disabled
                               value="{{user.dob.dd}} - {{user.dob.mm}} - {{user.dob.yyyy}}">
                    </div>
                </div>
            </div>

            <div class="col-lg-8 col-md-8">
                <div class="card" id="feedCard">

                    <div ng-repeat="remedy in remedies">
                        <div class="remedyFeed"
                             ng-style="{'background-image': 'url(/images/remedy/{{remedy.image.filename || 'nil'}})'}">
                            <div class="row card remedyCard">
                                <!--<img ng-src="/images/remedy/{{remedy.image.filename || 'nil'}}"/>-->

                                <div class="col-lg-10" ng-click="openRemedy(remedy._id)" style="cursor: pointer;" title="{{remedy.title}}">
                                    <span style="font-size: 1.6em; font-weight: bold; ">{{remedy.title}}</span>
                                <span style="font-size: 0.9em; margin-left: 15px;"><i>By:
                                    {{remedy.author.name}}</i></span>
                                    <br/>

                                    <p style="margin:0; padding:3px; text-align: justify; background: #F8F8F8; font-size:0.9em;">
                                        {{remedy.description | limitTo: 225}}{{remedy.description.length > 250 ?
                                        '...':''}}
                                    </p>
                                    <i><span class="diseaseSpan">Diseases: {{remedy.diseases.toString()}}</span></i>
                                </div>
                                <div class="col-lg-2">
                                    <a href="#" class="commentCount stats" title="Comments">
                                        <i class="glyphicon glyphicon-comment"></i>
                                        {{remedy.stats.comments}}
                                    </a>
                                    <br/>
                                    <a href="#" ng-click="upvote(remedy._id)" class="upvoteCount stats" title="Upvote">
                                        <i class="glyphicon glyphicon-thumbs-up"></i> {{remedy.stats.upvote}}
                                    </a>
                                    <br/>
                                    <a href="#" ng-click="downvote(remedy._id)" class="downvoteCount stats" title="Downvote">
                                        <i class="glyphicon glyphicon-thumbs-down"></i>
                                        {{remedy.stats.downvote}}
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-1 col-md-1">
                <div class="card fab" id="refreshFab" ng-click="refresh()" title="Refresh List">
                    <img src="images/ic_action_reload.png" alt="Refresh List"/>
                </div>
                <div class="card fab" id="addFab" title="Add new remedy">
                    <img src="images/ic_action_add.png" alt="Add new remedy"/>
                </div>
                <div class="card fab" id="searchFab" title="Search Remedy">
                    <img src="images/ic_action_search.png" alt="Search Remedy"/>
                </div>
                <div class="card fab" id="settingsFab" title="Settings">
                    <img src="images/ic_action_settings.png" alt="Settings"/>
                </div>
            </div>

        </div>
    </div>
</div>

<style>


    input[type="text"] {
        padding: 0 5px;
        height: 35px;
        line-height: 35px;
        margin-top: 5px;
        background: #FFF;
        border: none;
    }

    .remedyFeed:hover{
        border: 1px #008dff solid;
    }

</style>

<script>
    $.removeCookie("id");
</script>

</body>
</html>