<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Medical Assistant</title>

    <link rel="icon" href="images/small_icon.png"/>

    <script type="text/javascript" src="scripts/jquery.min.js"></script>
    <script type="text/javascript" src="scripts/jquery-ui.min.js"></script>
    <script src="scripts/jquery.cookie.js"></script>
    <script src="scripts/angularModules/common/angular.min.js"></script>
    <script src="scripts/angularModules/common/angular-route-min.js"></script>

    <script src="scripts/angularModules/app.js"></script>
    <script src="scripts/api.js"></script>

    <!--Bootstrap Theme-->
    <link href="styles/bootstrap.min.css" rel="stylesheet"/>
    <script src="scripts/bootstrap.min.js"></script>

    <!-- Material Theme -->
    <link href="styles/material.min.css" rel="stylesheet"/>

    <link rel="stylesheet" href="./assets/css/form-elements.css">

    <!-- Cuidar references -->
    <link href="styles/remedyFeed.css" rel="stylesheet"/>
    <script src="scripts/remedyFeed.js"></script>

</head>
<body ng-app="remedyShare" ng-controller="remedyController">
<div class="mdl-layout--fixed-header menu">
    <header class="mdl-layout__header" id="header" style="z-index:19999; position: fixed; top:0; left:0;">
        <div class="mdl-layout__header-row">
            <!-- Title -->
            <span class="mdl-layout-title">Medical Assistant</span>
            <!-- Add spacer, to align navigation to the right -->
            <div class="mdl-layout-spacer"></div>

            <div class="mdl-layout__tab-bar-right-button">
                <style scoped>
                    .mdl-layout__tab-bar-right-button a {
                        color: white;
                        text-decoration: none;
                    }
                </style>
                <a href="#" id="logout">Logout</a>
                <a href="https://play.google.com/store/apps/details?id=architect.jazzy.medicinereminder">
                    <img alt="Get it on Google Play"
                         src="https://developer.android.com/images/brand/en_generic_rgb_wo_45.png"/>
                </a>
            </div>
        </div>
    </header>


</div>

<div class="container-fluid" id="mainContent">
    <div class="content">
        <div class="row">
            <div class="col-lg-3 col-md-3">
                <div class="card" id="userDetailsCard">
                    <div class="card" id="dpframe" style="z-index: 999;">
                        <img src="images/userlogin.png" id="userDp">
                    </div>
                    <div class="userDetails" id="userDetails">
                        <input type="text" class="userDetailsFormElement" id="username" disabled value="Name">
                        <input type="text" class="userDetailsFormElement" id="email" disabled value="Email">
                    </div>
                </div>
            </div>

            <div class="col-lg-8 col-md-8">
                <div class="card" id="feedCard">

                    <div ng-repeat="remedy in remedies">
                        <div class="remedyFeed" ng-style="{'background-image': 'url(/images/remedy/{{remedy.image.filename}})'}">
                            <div class="row card remedyCard">
                                <!--<img ng-src="/images/remedy/{{remedy.image.filename}}"/>-->

                                <div class="col-lg-10">
                                    <span style="font-size: 1.6em; font-weight: bold; ">{{remedy.title}}</span>
                                <span style="font-size: 0.9em; margin-left: 15px;"><i>By:
                                    {{remedy.author.name}}</i></span>
                                    <br/>
                                    <p style="margin:0; padding:3px; text-align: justify; background: #F8F8F8; font-size:0.9em;">
                                    {{remedy.description | limitTo: 225}}{{remedy.description.length > 250 ? '...':''}}
                                    </p>
                                    <i><span class="diseaseSpan">Diseases: {{remedy.diseases.toString()}}</span></i>
                                </div>
                                <div class="col-lg-2">
                                    <a href="#" class="commentCount stats">
                                        <i class="glyphicon glyphicon-comment"></i>
                                        {{remedy.stats.comments}}
                                    </a>
                                    <br/>
                                    <a href="#" ng-click="upvote(remedy._id)" class="upvoteCount stats">
                                        <i class="glyphicon glyphicon-thumbs-up"></i> {{remedy.stats.upvote}}
                                    </a>
                                    <br/>
                                    <a href="#" ng-click="downvote(remedy._id)"  class="downvoteCount stats">
                                        <i class="glyphicon glyphicon-thumbs-down"></i>
                                        {{remedy.stats.downvote}}
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-1 col-md-1">
                <div class="card fab" id="refreshFab" ng-click="refresh()">
                    <img src="images/ic_action_reload.png"/>
                </div>
                <div class="card fab" id="addFab">
                    <img src="images/ic_action_add.png"/>
                </div>
                <div class="card fab" id="searchFab">
                    <img src="images/ic_action_search.png"/>
                </div>
                <div class="card fab" id="settingsFab">
                    <img src="images/ic_action_settings.png"/>
                </div>
            </div>

        </div>
    </div>
</div>


</body>
</html>