<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Details</title>

    <link rel="icon" href="images/small_icon.png"/>

    <script type="text/javascript" src="scripts/jquery.min.js"></script>
    <script type="text/javascript" src="scripts/jquery-ui.min.js"></script>
    <link rel="stylesheet" href="assets/css/form-elements.css">
    <script src="scripts/jquery.cookie.js"></script>
    <script src="scripts/angularModules/common/angular.min.js"></script>
    <script src="scripts/angularModules/common/angular-route-min.js"></script>

    <script src="scripts/angularModules/app_userDetails.js"></script>
    <script src="scripts/api.js"></script>

    <!--Bootstrap Theme-->
    <link href="styles/bootstrap.min.css" rel="stylesheet"/>
    <script src="scripts/bootstrap.min.js"></script>

    <!-- Material Theme -->
    <link href="styles/material.min.css" rel="stylesheet"/>

    <!--<link rel="stylesheet" href="./assets/css/form-elements.css">-->

    <!-- Cuidar references -->
    <script src="scripts/layouts.js"></script>
    <link href="styles/remedyFeed.css" rel="stylesheet"/>
    <script src="scripts/remedyFeed.js"></script>


</head>
<body ng-app="remedyShare" ng-controller="userDetailsController">
<div class="mdl-layout--fixed-header menu" ng-init="loadUser()">
    <header class="mdl-layout__header" id="header" style="z-index:19999; position: fixed; top:0; left:0;">
        <div class="mdl-layout__header-row">
            <!-- Title -->
            <span class="mdl-layout-title"><a href="/app">Medical Assistant</a></span>
            <!-- Add spacer, to align navigation to the right -->
            <div class="mdl-layout-spacer"></div>

            <div class="mdl-layout__tab-bar-right-button">
                <style scoped>
                    .mdl-layout__tab-bar-right-button a {
                        color: white;
                        text-decoration: none;
                    }
                </style>
                <a href="#" id="logout">Logout</a>
                <a href="https://play.google.com/store/apps/details?id=architect.jazzy.medicinereminder&utm_source=global_co&utm_medium=prtnr&utm_content=Mar2515&utm_campaign=PartBadge&pcampaignid=MKT-AC-global-none-all-co-pr-py-PartBadges-Oct1515-1" target="_blank"><img alt="Get it on Google Play" src="https://play.google.com/intl/en_us/badges/images/apps/en-play-badge.png" height="45px" /></a>
            </div>
        </div>
    </header>


</div>

<div class="container-fluid" id="mainContent">
    <div class="content">
        <div class="row">

            <div class="col-lg-3 col-md-3">
                <div class="card" id="userDetailsCard">
                    <div class="userDetails" id="userDetails">
                            <h4 style="margin: 0; padding:5px 0;" align="center">Quick Glance</h4>
                        <div class="userStats">
                            Your remedies: {{user.stats.remedies || 0}} <br />
                            Remedy Upvotes: {{user.stats.remedyVotes.upvote || 0}} <br />
                            Remedy Downvotes: {{user.stats.remedyVotes.downvote || 0}} <br />
                            Remedy Bookmarks: {{user.stats.bookmarks.remedies || 0}} <br />
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-8 col-md-8">
                <div class="card" id="feedCard">

                    <h2 style="padding: 0 10px;">Welcome! {{user.name}}</h2>

                    Mobile: <input type="text" ng-model="user.mobile"> <br /><br />
                    Email: <input type="text" ng-model="user.email">



                </div>
            </div>

            <div class="col-lg-1 col-md-1">
                <div class="card fab" id="homeFab">
                    <img src="images/ic_action_home.png"/>
                </div>
                <div class="card fab" id="searchFab">
                    <img src="images/ic_action_search.png"/>
                </div>
                <div class="card fab" id="settingsFab">
                    <img src="images/ic_action_settings.png"/>
                </div>
            </div>

        </div>
    </div>
</div>


</body>
</html>