body{
    background: #000000;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

.page-content{
}

/*
ActionBar Color #3F51B5
*/

.appScreenshot-card-wide{
    width: 320px;
    height: 480px;
    padding: 2px;
    top: 50px;
    margin-bottom: 50px;
    display: block
}

.section{
    text-align:center;
}



#section0,
#section1,
#section2,
#section3{
    background-size: cover;
    background-attachment: fixed;
}

#section0{
    background-image: url("../images/back.jpg");
    background-position-y: -75px;
    color: #FFFFFF;
}

#section1{
    background-image: url("../images/back-empty.jpg");
}

#section2{
    background: #3F51B5;
}

#section3{
    background: #FFFFFF;
}


.detailsCard{
    width: 100%;
    max-height: 550px;
    top: 30px;
    display: block;
    padding-bottom: 20px;
    overflow-y: auto;
}

.largeScreenText{
    color: #FFFFFF;
    position: absolute;
    top: 200px;
}


.appDetails{
    overflow-y: auto;
    font-size: 1em;
}

.appDetails p{
    padding: 10px;
}


.appDetails::-webkit-scrollbar {
    width: 6px;
}

.appDetails::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.2);
    -webkit-border-radius: 11px;
    border-radius: 11px;
}

.appDetails::-webkit-scrollbar-thumb {
    -webkit-border-radius: 11px;
    border-radius: 11px;
    background: rgba(53, 53, 53, 0.8);
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}
.appDetails::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(255,0,0,0.4);
}

/*.largeScreen{*/
    /*display: none;*/
/*}*/

/*.smallscreen{*/
    /*display: block;*/
/*}*/
#appTitle{
    margin-left: 0px;
}

@media screen and (min-width: 767px){
    #appTitle{
        margin-left: 150px;
    }
}

@media screen and (max-height: 443px){
    #appTitle{
        margin-left: 0px;
    }
}