body {
    background: #000000;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

.page-content {
}

/*
ActionBar Color #3F51B5
*/

.appScreenshot-card-wide {
    width: 320px;
    height: 480px;
    padding: 2px;
    top: 50px;
    display: block
}

.section {
    text-align: center;
}

.activeMenu {
    font-weight: bold;
    font-size: 1.2em;
    text-decoration: underline;
    transition-duration: 500ms;
}

.defaultMenu {
    transition-duration: 500ms;
}

.defaultMenu:hover {
    text-decoration: underline;
}

#section3 {
    background: linear-gradient(180deg, #3f51b5, #FFFFFF);
}

#section0,
#section1,
#section2,
#section15,
#section3 {
    background-size: cover;
    background-attachment: fixed;
}

#section0, #section3 {
    background-image: url("../images/back.jpg");
    background-position-y: -75px;
    color: #FFFFFF;
}
#section3 {
    background-image: url("../images/stethoscope_back.jpg");
    background-position-y: -75px;
    color: #FFFFFF;
}

#section1 {
    background-image: url("../images/back-empty.jpg");
}

#section2 {
    background: #3F51B5;
}

#section4 {
    background: #FFFFFF;
}

.detailsCard {
    width: 100%;
    max-height: 550px;
    top: 30px;
    display: block;
    padding-bottom: 20px;
    overflow-y: auto;
}

.largeScreenText {
    color: #FFFFFF;
    position: absolute;
    top: 200px;
}

.appDetails {
    overflow-y: auto;
    font-size: 1em;
}

#fullpage {
    margin-top: 64px;
}

.appDetails::-webkit-scrollbar {
    width: 6px;
}

.appDetails::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.2);
    -webkit-border-radius: 11px;
    border-radius: 11px;
}

.appDetails::-webkit-scrollbar-thumb {
    -webkit-border-radius: 11px;
    border-radius: 11px;
    background: rgba(53, 53, 53, 0.8);
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

.appDetails::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(255, 0, 0, 0.4);
}

/*.largeScreen{*/
/*display: none;*/
/*}*/

/*.smallscreen{*/
/*display: block;*/
/*}*/
#appTitle {
    margin-left: 0;
}

.screenshots {
    display: none;
    left: -50%;
}

.appDetailsCard {
    margin-top: 20px;
    left: 150%;
}

.appDetailsCard2 {
    margin-top: 20px;
}

.features-image {
    height: 150px;
}

.feature-description {
    display: block;
}

.row2 {
    margin-top: 50px;
}

@media screen and (max-width: 1028px) {
    #fullpage {
        margin-top: 56px;
    }
}

@media screen and (max-width: 768px) {
    .features-image {
        height: 120px;
    }

    .feature-description {
        display: none;
    }

    .row2 {
        margin-top: 10px;
    }
}

@media screen and (max-width: 400px) {
    .features-image {
        height: 90px;
    }
}

@media screen and (max-width: 200px) {
    .features-image {
        height: 60px;
    }
}

@media screen and (min-width: 767px) {
    #appTitle {
        margin-left: 150px;
    }

    .smallscreen {
        display: inline;
    }

    .appDetails p {
        padding: 5px;
    }
}

@media screen and (max-height: 443px) {
    #appTitle {
        margin-left: 0px;
    }
}




/*

<div class="cssload-thecube">
	<div class="cssload-cube cssload-c1"></div>
	<div class="cssload-cube cssload-c2"></div>
	<div class="cssload-cube cssload-c4"></div>
	<div class="cssload-cube cssload-c3"></div>
</div>

*/


.cssload-thecube {
    width: 169px;
    height: 169px;
    margin: 0 auto;
    margin-top: 113px;
    position: relative;
    transform: rotateZ(45deg);
    -o-transform: rotateZ(45deg);
    -ms-transform: rotateZ(45deg);
    -webkit-transform: rotateZ(45deg);
    -moz-transform: rotateZ(45deg);
}
.cssload-thecube .cssload-cube {
    position: relative;
    transform: rotateZ(45deg);
    -o-transform: rotateZ(45deg);
    -ms-transform: rotateZ(45deg);
    -webkit-transform: rotateZ(45deg);
    -moz-transform: rotateZ(45deg);
}
.cssload-thecube .cssload-cube {
    float: left;
    width: 50%;
    height: 50%;
    position: relative;
    transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
}
.cssload-thecube .cssload-cube:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(63,81,181);
    animation: cssload-fold-thecube 4.2s infinite linear both;
    -o-animation: cssload-fold-thecube 4.2s infinite linear both;
    -ms-animation: cssload-fold-thecube 4.2s infinite linear both;
    -webkit-animation: cssload-fold-thecube 4.2s infinite linear both;
    -moz-animation: cssload-fold-thecube 4.2s infinite linear both;
    transform-origin: 100% 100%;
    -o-transform-origin: 100% 100%;
    -ms-transform-origin: 100% 100%;
    -webkit-transform-origin: 100% 100%;
    -moz-transform-origin: 100% 100%;
}
.cssload-thecube .cssload-c2 {
    transform: scale(1.1) rotateZ(90deg);
    -o-transform: scale(1.1) rotateZ(90deg);
    -ms-transform: scale(1.1) rotateZ(90deg);
    -webkit-transform: scale(1.1) rotateZ(90deg);
    -moz-transform: scale(1.1) rotateZ(90deg);
}
.cssload-thecube .cssload-c3 {
    transform: scale(1.1) rotateZ(180deg);
    -o-transform: scale(1.1) rotateZ(180deg);
    -ms-transform: scale(1.1) rotateZ(180deg);
    -webkit-transform: scale(1.1) rotateZ(180deg);
    -moz-transform: scale(1.1) rotateZ(180deg);
}
.cssload-thecube .cssload-c4 {
    transform: scale(1.1) rotateZ(270deg);
    -o-transform: scale(1.1) rotateZ(270deg);
    -ms-transform: scale(1.1) rotateZ(270deg);
    -webkit-transform: scale(1.1) rotateZ(270deg);
    -moz-transform: scale(1.1) rotateZ(270deg);
}
.cssload-thecube .cssload-c2:before {
    animation-delay: 0.53s;
    -o-animation-delay: 0.53s;
    -ms-animation-delay: 0.53s;
    -webkit-animation-delay: 0.53s;
    -moz-animation-delay: 0.53s;
}
.cssload-thecube .cssload-c3:before {
    animation-delay: 1.05s;
    -o-animation-delay: 1.05s;
    -ms-animation-delay: 1.05s;
    -webkit-animation-delay: 1.05s;
    -moz-animation-delay: 1.05s;
}
.cssload-thecube .cssload-c4:before {
    animation-delay: 1.58s;
    -o-animation-delay: 1.58s;
    -ms-animation-delay: 1.58s;
    -webkit-animation-delay: 1.58s;
    -moz-animation-delay: 1.58s;
}



@keyframes cssload-fold-thecube {
    0%, 10% {
        transform: perspective(315px) rotateX(-180deg);
        opacity: 0;
    }
    25%,
    75% {
        transform: perspective(315px) rotateX(0deg);
        opacity: 1;
    }
    90%,
    100% {
        transform: perspective(315px) rotateY(180deg);
        opacity: 0;
    }
}

@-o-keyframes cssload-fold-thecube {
    0%, 10% {
        -o-transform: perspective(315px) rotateX(-180deg);
        opacity: 0;
    }
    25%,
    75% {
        -o-transform: perspective(315px) rotateX(0deg);
        opacity: 1;
    }
    90%,
    100% {
        -o-transform: perspective(315px) rotateY(180deg);
        opacity: 0;
    }
}

@-ms-keyframes cssload-fold-thecube {
    0%, 10% {
        -ms-transform: perspective(315px) rotateX(-180deg);
        opacity: 0;
    }
    25%,
    75% {
        -ms-transform: perspective(315px) rotateX(0deg);
        opacity: 1;
    }
    90%,
    100% {
        -ms-transform: perspective(315px) rotateY(180deg);
        opacity: 0;
    }
}

@-webkit-keyframes cssload-fold-thecube {
    0%, 10% {
        -webkit-transform: perspective(315px) rotateX(-180deg);
        opacity: 0;
    }
    25%,
    75% {
        -webkit-transform: perspective(315px) rotateX(0deg);
        opacity: 1;
    }
    90%,
    100% {
        -webkit-transform: perspective(315px) rotateY(180deg);
        opacity: 0;
    }
}

@-moz-keyframes cssload-fold-thecube {
    0%, 10% {
        -moz-transform: perspective(315px) rotateX(-180deg);
        opacity: 0;
    }
    25%,
    75% {
        -moz-transform: perspective(315px) rotateX(0deg);
        opacity: 1;
    }
    90%,
    100% {
        -moz-transform: perspective(315px) rotateY(180deg);
        opacity: 0;
    }
}
