body {
    background: #EEEEEE;
    /*overflow-y: hidden;*/
    min-height: 0;
}

.mdl-card {
    width: 100%;
}

.userDetailsCard {
    background: #FFFFFF;
}

.card {
    background: #FFFFFF;
    box-shadow: #AAAAAA 0 0 10px;
    border-radius: 3px;
}

.fab {
    width: 50px;
    height: 50px;
    border-radius: 25px;
    /*position: absolute;*/
    /*top: 40px;*/
    /*right: 60px;*/
    margin: 50px auto;
    transition-duration: 500ms;
    cursor: pointer;
}

.fab:hover {
    transition-duration: 500ms;
}

#refreshFab {
    background-color: #fd5eff;
}

#refreshFab:hover {
    background-color: #bb45bd;
}


#addFab, #homeFab {
    background-color: #4b61c5;
}

#addFab:hover,#homeFab:hover {
    background-color: #334387;
}

#searchFab {
    background-color: #50ff4c;
}

#searchFab:hover {
    background-color: #3eb43b;
}

#settingsFab {
    background-color: #ff4a40;
}

#settingsFab:hover {
    background-color: #b5362e;
}

.fab img {
    position: static;
    width: 30px;
    height: 30px;
    margin-left: 10px;
    margin-top: 10px;
}

.remedyFeed {
    padding: 15px 5px 10px;
    background-size: cover;
    min-height: 175px;
    margin-bottom: 3px;
    vertical-align: bottom;
    /*cursor: pointer;*/
    border: 1px rgba(0, 141, 255, 0) solid;
    border-bottom: rgba(150,150,150,0.2) 1px ridge;
}

#feedCard {
    padding: 5px;
    overflow-y: auto;
    overflow-x: hidden;
}

#dpframe {
    position: absolute;
}

.content {
    width: 85%;
    margin: auto;
    margin-top: 60px;
}

.remedyCard{
    width:75%;
    margin: auto;
    padding: 10px 5px;
    box-shadow: none;
}

.diseaseSpan{
    color: #555555;
    font-size: 0.8em;
}

.glyphicon, .stats{
    color: #06bbe7;
    text-decoration: none;
}
.mdl-layout-title a{
    color: #FFF;
}
.mdl-layout-title a:hover{
    color: #FFF;
    text-decoration: none;
}

.newRemedy{
    color: #000;
    cursor: pointer;
    transition-duration: 500ms;
}

.newRemedy:hover{
    background: #334387;
    color: #FFFFFF;
    transition-duration: 350ms;
}

input[type="text"].remedyForm, textarea.remedyForm{
    transition-duration: 500ms;
    width: 100%;
    margin: 0 auto;
    border: none;
    border-bottom: solid 2px #cbcbcb;
    padding: 10px 5px 5px;
    color: #444444;
    box-shadow: none;
}

input[type="text"].remedyForm:focus, textarea.remedyForm:focus{
    transition-duration: 500ms;
    color: #334387;
    border-bottom: solid 2px #4b61c5;
    outline: none;
}


input[type="text"].commentForm, textarea.commentForm{
    transition-duration: 500ms;
    width: 100%;
    margin: 0 auto;
    border: solid rgba(0,0,0,0.2) 1px;
    padding: 5px;
    color: #444444;
    box-shadow: none;
}

input[type="text"].commentForm:focus, textarea.commentForm:focus{
    transition-duration: 500ms;
    color: #334387;
    outline: none;
}

#form_title{
    font-size: 1.5em;
    font-weight: bold;
}

#form_description{
    margin-top: 10px;
    background: #FCFCFF;
}

.remedyForm > a:hover{
    text-decoration: none;
}

button.remedyForm{
    background: #FFFFFF;
    color: #444444;
    border: none;
    padding: 10px 20px;
    transition-duration: 250ms;
    outline: none;
    text-transform: uppercase;
}

button.remedyForm:hover{
    background: #EEEEFF;
    color: #222222;
}

button.remedyForm:focus{
    background: #DDDDFF;
    color: #222222;
}

button.commentForm{
    background: #4b61c5;
    color: #FFFFFF;
    border: none;
    padding: 5px 10px;
    transition-duration: 250ms;
    outline: none;
    font-size: 12px;
    text-transform: uppercase;
    margin-top: 5px;
}
button.commentForm:hover{
    background: #334387;
}

.commentCard{
    background: rgba(51, 67, 135, 0.05);
    margin-top: 3px;
    padding: 5px 10px;
}

.commentContent{
    width: 85%;
    margin-left: 5%;
}

.commentCard p{
    padding: 5px 5px 2px 5px;
    background: #FFFFFF;
    border: rgba(0,0,0,0.1) 1px solid;
}
hr{
    margin: 2px 0;
}

@media screen and (max-width: 768px) {
    .content {
        margin-top: 56px;
    }
}

.refreshImageLoading{
    -webkit-animation:spin 2s linear infinite;
    -moz-animation:spin 2s linear infinite;
    animation:spin 2s linear infinite;
}

@-moz-keyframes spin {
    100%{
        -moz-transform: rotate(360deg);
    }
}

@-webkit-keyframes spin {
    100%{
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin{
    100%{
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}